<template>
  <label>Search:</label>
  <input type="text" placeholder="search all columns" v-model="searchText" />
  <div class="p-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name <input type="text" v-model="nameFilter" /></th>
          <th scope="col">Company name</th>
          <th scope="col">Job Title</th>
          <th scope="col">Gender</th>
          <th scope="col">
            salary
            <select v-model="selectedSorting">
              <option>none</option>
              <option>ascending</option>
              <option>descending</option>
            </select>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in pageData" :key="row.id">
          <th scope="row">{{ row.id }}</th>
          <td>{{ row.name }}</td>
          <td>{{ row.Work }}</td>
          <td>{{ row.Position }}</td>
          <td>{{ row.gender }}</td>
          <td>{{ row.Salary }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex flex-row justify-content-between px-4 align-items-start">
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" @click="curPage = Math.max(0, curPage - 1)">
            <a class="page-link">Previous</a>
          </li>
          <li
            v-for="index in pageCount"
            :key="index"
            class="page-item"
            v-bind:class="curPage == index && 'active'"
            @click="curPage = index"
          >
            <a class="page-link">{{ index }}</a>
          </li>
          <li
            class="page-item"
            @click="curPage = Math.min(pageCount, curPage + 1)"
          >
            <a class="page-link">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <label> Entries Per page</label>
      <select
        v-model="entriesPerPage"
        class="select"
        aria-label="Default select example"
      >
        <option selected>10</option>
        <option>15</option>
        <option>20</option>
      </select>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      curPage: 1,
      nameFilter: "",
      CompanyFilter: "",
      selectedSorting: "none",
      searchText: "",
      entriesPerPage: 10,
    };
  },
  computed: {
    tableData() {
      return this.$store.state.data;
    },
    filteredData() {
      // Apply name filter
      var res = this.tableData.filter((row) => {
        const name = row.name.toLowerCase();
        return name.includes(this.nameFilter.toLowerCase());
      });

      // Apply table-wide search
      res = this.applySearch(res);

      //Apply the sorting
      if (this.selectedSorting == "ascending") {
        return res.sort((a, b) => a.Salary - b.Salary);
      } else if (this.selectedSorting == "descending") {
        return res.sort((a, b) => b.Salary - a.Salary);
      }
      return res;
    },
    pageCount() {
      return Math.ceil(this.filteredData.length / this.entriesPerPage);
    },
    pageData() {
      return this.filteredData.slice(
        (this.curPage - 1) * this.entriesPerPage,
        this.curPage * this.entriesPerPage
      );
    },
  },
  methods: {
    applySearch(data) {
      return data.filter((row) => {
        const name = row.name.toLowerCase();
        const company = row.Work.toLowerCase();
        const job = row.Position.toLowerCase();
        const search = this.searchText.toLowerCase();
        const gender = row.gender.toLowerCase();

        return (
          name.includes(search) ||
          company.includes(search) ||
          job.includes(search) ||
          gender.includes(search)
        );
      });
    },
  },
};
</script>

<style>
</style>